body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

.notecard {
    height: 80px;
    width: 550px;
    text-align: center;
    background-color: white;
    padding: 20px 20px 20px 20px;
    font-size: 18px;
    line-height: 140%;
    margin: 0 auto;
    border: 1px solid gray;
}

.notecard:focus {
    outline-color: #9ca4af;
}

#navbar {
    height: 60px;
    width: 100%;
    background-color: white;
    margin: -10px 0 0 -10px;
    padding: 0px 0px 0 20px;
    text-align: center;
}

p {
    font-size: 20px;
    font-weight: bold;
}

.nav {
    display: inline-block;
}

#razor {
    height: 35px;
    vertical-align: center;
    margin-top: -8px;
}

// ChatInput.jsx
.form-chat {
    background-color: lightskyblue;
    text-align: center;
}
.input-chat {
    width: 350px;
    height: 16px;
}
.submit-button {
    border: 1px solid lightgrey;
    border-radius: 5px;
    background: none;
    font-size: 16px;
    padding: 10px 5px 10px 5px;
}
.submit-button:hover {
    border: 1px solid #fff;
}
.submit-button:focus {
    border: 1px;
    outline: none;
}