body {
    box-sizing: border-box;
    background-color: #00BCD4;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 1.25em;
}

//Navbar.jsx

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: #B2EBF2;
    margin: -10px 0 20px -10px;
    padding: 0px 0px 0 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
              0 1px 5px 0 rgba(0, 0, 0, .12),
              0 3px 1px -2px rgba(0, 0, 0, .2);
}

.nav a {
    display: -webkit-flex;
    display: flex;
    text-decoration: none;
    color: black;
}

#razor {
    height: 35px;
    margin-top: 4px;
}

//Notecard.jsx

.notecard {
    height: 70px;
    width: 51.11111%;
    text-align: left;
    background-color: white;
    padding: 20px;
    font-size: 1em;
    line-height: 140%;
    margin: 0 auto;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
              0 1px 5px 0 rgba(0, 0, 0, .12),
              0 3px 1px -2px rgba(0, 0, 0, .2);
}

.iconwrap {
    display: flex;
}

.icon {
    height: 20px;
    margin-top: 15px;
    margin-right: 20px;
}

#heart {
    margin-top: 17px;
    height: 16px;
}

// ChatInput.jsx

.form-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B2EBF2;
    width: 51.11111%;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    height: 60px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
              0 1px 5px 0 rgba(0, 0, 0, .12),
              0 3px 1px -2px rgba(0, 0, 0, .2);
}

.input-chat {
    width: 450px;
    height: 24px;
    font-size: 1em;
}

//Media Query for smaller screens

@media screen and (max-width : 900px) {
    h1 {
        display: none;
    }

    .notecard {
        width: 100%;
        margin-left: -10px;
    }

    #chat-wrap {
        width: 100%;
        margin-left: -10px;
    }
}